<?xml version="1.0" encoding="UTF-8"?>
<suite name="Example" verbose="1">
    <test name="Example">
        <classes>
            
            <class name="suiteTest.loginTest"/>
            <class name="suiteTest.registerTest"/>
        </classes>
        <groups>
            <run>
               
                <include name="testlogin"/>
            </run>
        </groups>
    </test>
</suite>